body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.movie-tiles-cont {
  display: flex;
}

.result {
  display: flex;
  align-items: center
}

.result img {
  max-width: 150px;
  margin: 5px 20px
}